@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<ul>
    <li><a href="/Studente">Gestisci Studenti</a></li>
    <li><a href="/Docente">Gestisci Docenti</a></li>
    <li><a href="/Corso">Gestisci Corsi</a></li>
</ul>
