@model ProfessoreDto

<h2>Conferma eliminazione</h2>

<p>Vuoi eliminare il professore <strong>@Model.Nome @Model.Cognome</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Elimina</button>
</form>

<a asp-action="Index" class="btn btn-info">Annulla</a>